@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Send+Flowers&display=swap');

*{
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20% 20% 143% 20%;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    gap: 0.5em;
    margin-right: 10px;
    
}

header{
  background-color: #F2DCDB;
  border: 2px solid #D99694;
  grid-column: 1/ 3;
  justify-content: center;
  align-items: center;
  display: flex;
  
}

nav{
  background-color: #F2DCDB;
  border: 2px solid #D99694;
  grid-column: 1/ 3;
  justify-content: center;
  align-items: center;
  display: flex;
}

section{
    background-color: #F2DCDB;
    border: 2px solid #D99694;
}

aside{
    background-color: #F2DCDB;
    border: 2px solid #D99694;
    justify-content: center;
    align-items: center;
    display: flex;
}

footer{
    background-color: #F2DCDB;
    border: 2px solid #D99694;
    grid-column: 1/ 3;
    justify-content: center;
    align-items: center;
    display: flex;
   
}

article{
    height: 24%;
    background-color: #DCE6F2;
    border: 2px solid #D99694;
    margin: 0.5em;
    justify-content: center;
    align-items: center;
    display: flex;
}

@media screen and (max-width:1024px){
    .container{
        display: grid;
        grid-template-columns: 40% 60%;
    }

    header {
     
        background-color: rgb(255, 190, 137);
        border: 2px solid rgb(255, 150, 64);
    }
    aside {

        background-color: rgb(255, 190, 137);
        border: 2px solid rgb(255, 150, 64);
    }
    nav{
        grid-column: 1/2;
        background-color: rgb(255, 190, 137);
        border: 2px solid rgb(255, 150, 64);
    }
    section{
        background-color: rgb(255, 190, 137);
        border: 2px solid rgb(255, 150, 64);
        height: 935%;
    }

    article{
        height: 26%;
        border: 2px solid rgb(255, 150, 64);
    }

    footer{
        grid-column: 1/2;
        background-color: rgb(255, 190, 137);
        border: 2px solid rgb(255, 150, 64);
    }
}
@media screen and (max-width: 600px){
    .container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 10% auto 44% 15%;
    }

    header {
        background-color: rgb(191, 255, 194);
        border: 2px solid rgb(71, 255, 54);
    }
    aside {
        background-color: rgb(191, 255, 194);
        border: 2px solid rgb(71, 255, 54);
        width: 100.7%;
    }
    nav{
        grid-column: 1/3;
        background-color: rgb(191, 255, 194);
        border: 2px solid rgb(71, 255, 54);
    }
    section{
        grid-column: 1/3;
        height: 222px;
        background-color: rgb(191, 255, 194);
        border: 2px solid rgb(71, 255, 54);
    }

    article{
        border: 2px solid rgb(71, 255, 54);
        height: 35px;
    }

    footer{
        background-color: rgb(191, 255, 194);
        border: 2px solid rgb(71, 255, 54);
        width: 100.7%;
    }
}